[bumpversion]
current_version = 0.0.7
commit = True
tag = True
tag_name = {new_version}

[bumpversion:file:models/ibm/granite-8b-code-instruct/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:models/ibm/granite_13b_chat_v2/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:models/ibm/granite_13b_instruct_v2/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:models/meta/codellama_34b_instruct_hf/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:models/mistralai/mixtral_8x7b_instruct_v01/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:models/ibm/merlinite-7b/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:models/meta/llama-3-70b-instruct/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:models/meta/llama-3-8b-instruct/dataloop.json]
search = "{current_version}"
replace = "{new_version}"
